.jumbotron{
    margin-top: 50px;
    margin-bottom: 20px;
    background: #eaecef;
    padding-bottom: 70px;
    border-radius: 1px;
    .content{
        margin-left: 20px;
    }
}
.card{
    margin-bottom: 20px;
    text-align: center;
    height: 550px;
    width: 300px;
    display: inline-block;
    margin-right: 5px;
}
.container-fluid{
    background: #343a40;
    justify-content: space-between;
}

.container{
justify-content: space-between;
}

.navbar-brand{
    font-weight: bold;
    color: white;
    
}
.footer{
    background: #343a40;
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100px;
    position: absolute;
    width: 100%;
    padding-top: 30px;
}
